.hey{
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px 100px;
    box-shadow: 0 2px 5px #ffe680;
    background-color: ;
    
}
.App{
    text-align: center;
}

